

.forget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group input{
  color:black;
  background-color:white;
}
.forget-form {
    background-color:rgb(55, 124, 55);

  padding: 40px;
  box-shadow:#007bff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color:white;
  font-size: 30px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color:white;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
  font-weight:550;
}

a{
    font-size: 17px;
    
}
.email-row {
  display: flex;
  gap: 10px;
  color: black;
}

.otp-btn {
  padding: 8px 12px;
  cursor: pointer;
    border-radius: 10px;

}

.success-msg {
  color:black;
  font-size: 14px;
  margin-bottom: 10px;
}

.otp-timer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.resend-btn {
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 10px;
}

.resend-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-msg {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}
.forget-btn {
  width: 100%;
  padding: 12px;
  background-color:white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s ease;
}

.forget-btn:hover {
  font-size: 18px;
}

.forget-footer {
  margin-top: 20px;
  font-size: 0.9rem;
}

.givelink {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.givelink {
  text-decoration: underline;
}